*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #222;
    font-family: Verdana, Geneva, sans-serif;
    background: #212121;
}

article {
    margin: 0.2em 10%;
    padding: 0.5em;
    background: #f2f2f2;
    border-radius: 0.5em;
    text-align: justify;
    text-justify: inter-word;
}

h1 {
    margin: 0 1em;
}

p {
    text-indent: 1.5em;
    margin: 0.5em 0;
}

img {
    display: block;
    margin: 0.2em auto;
    max-width: 75%;
    border: 0.5em solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.3em;
}
