*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }


body {
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
}

nav {
    display: flex;
}

nav > a {
    margin: 0.1em;
    padding: 0.4em;
    border: thin outset rgb(168, 168, 168);
    background: lightblue;
    text-align: center;
    cursor: pointer;
    flex: auto;
}

nav > a:active {
    border-style: inset;
}

section {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    background: #eeeeee;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: -moz-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.active-section {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

option[data-type="dna"] {
    background: lightgreen;
}

option[data-type="protein"] {
    background: lightblue;
}

#container-hist {
    display: flex;
    flex-wrap: wrap-reverse;
}

#container {
    overflow: auto;
    background: white;
    cursor: crosshair;
    flex-grow: 1;
}

#hist {
    margin: auto;
}

#container, #hist {
    min-width: 255px;
    height: 400px;
}

canvas {
    margin-bottom: -5px;
    transition: -webkit-transform 0.5s linear;
    transition: -moz-transform 0.5s linear;
    transition: transform 0.5s linear;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
}

#ghost-anchor {
    display: none;
}

#sequence-list {
    padding: 0;
    list-style: none;
}

#sequence-list > li {
    margin: 0.5em;
    padding: 1em;
    border: thin solid #bbbbbb;
    border-radius: 0.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sequence-list > li[data-type="dna"] {
    background: lightgreen;
}

#sequence-list > li[data-type="protein"] {
    background: lightblue;
}

.remove {
    height: 1em;
    width: 1em;
    line-height: 0.8em;
    border: thin solid #bbbbbb;
    border-radius: 50%;
    text-align: center;
    background: #eeeeee;
    cursor: pointer;
}

.remove:hover {
    border: thin solid #ffffff;
}

#sequence-input {
    margin: 0.5em;
    padding: 0.5em;
    width: 97% !important;
    height: 79% !important;
    border: thin solid #bbbbbb;
    border-radius: 0.3em;
}
