*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }


body {
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
    color: #2e2e4e;
}

nav > a {
    margin: 0.1em;
    padding: 0.3em;
    border: thin outset rgb(168, 168, 168);
    background: lightblue;
    text-align: center;
    cursor: pointer;
    flex: auto;
}

nav > a:active {
    border-style: inset;
}

section {
    position: fixed;
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #eeeeee;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: -moz-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.active-section {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

section > * {
    flex-shrink: 0;
}

option[data-type="nucleic"] {
    background: lightgreen;
}

option[data-type="proteic"] {
    background: lightblue;
}

.grow {
    flex-grow: 1;
}

nav, .flex {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-direction: column;
}

.around {
    justify-content: space-around;
}

#container-hist {
    flex-wrap: wrap-reverse;
    justify-content: center;
}

#container {
    overflow: auto;
    background: white;
    cursor: crosshair;
    flex: 1 1 15em;
}

#inner-container {
    height: 20em;
}

#hist {
    flex: 0 0 15em;
    align-self: center;
}

@media (max-width: 31em) {
    #container-hist {
        margin-left: 1.5em;
    }
}

#svg {
    background: linear-gradient(to right, #000 0, #000 0, #fff 100%, #fff 100%);
    height: 200px;
}

line {
    transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

line:nth-child(even) {
    transition-delay: 0.5s;
}

input {
    cursor: pointer;
}

input[type="number"] {
    width: 4em;
    padding: 0;
}

input[type="range"] {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
}

canvas {
    margin-bottom: -5px;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: -moz-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
}

#ghost-anchor {
    display: none;
}

#sequences > div {
    flex-shrink: 1;
}

#sequence-list {
    padding: 0;
    margin : 0;
    list-style: none;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

#sequence-list > li {
    margin: 0.5em;
    padding: 1em;
    border: thin solid #bbbbbb;
    border-radius: 0.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}

#sequence-list > li[data-type="nucleic"] {
    background: lightgreen;
}

#sequence-list > li[data-type="proteic"] {
    background: lightblue;
}

.remove {
    height: 1em;
    width: 1em;
    line-height: 0.8em;
    border: thin solid #bbbbbb;
    border-radius: 50%;
    text-align: center;
    background: #eeeeee;
    cursor: pointer;
}

.remove:hover {
    border: thin solid #ffffff;
}

#input-zone {
    flex-grow: 1;
    border: thin solid #bbbbbb;
    border-radius: 0.3em;
}
